$font-main: 'tachyon';
$purple: #302144;

body {
    margin: 0;
    height: 100vh;
}

// splash screen
.splash {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $purple;
    
    h1 {
        position: relative;
        color: #ffffff;
        font-family: $font-main;
        text-transform: uppercase;
        text-align: center;
        transform: translate(0%, 60%);
        z-index: 100;
        font-size: 12vw;
        letter-spacing: 1rem;
        opacity: 0;
    }

    h3 {
        position: relative;
        color: #ffffff;
        font-family: $font-main;
        text-transform: uppercase;
        text-align: center;
        transform: translate(0%, -50%);
        z-index: 100;
        font-weight: 200;
        text-transform: uppercase;
        font-size: 1.5vw;
        white-space: nowrap;
        opacity: 0;
    }
}

.splash.active {
    
    h1 {
        opacity: 1;
        transition: ease-in-out 1s;
    }

    h3 {
        opacity: 1;
        transition: ease-in-out 1s;
    }
}

.splash.end {
    opacity: 0;
    transition: ease-in-out 0.5s;
}

header {
    font-family: $font-main;
}

canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
}
