body {
  margin: 0;
  height: 100vh;
}

.splash {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#592651), color-stop(#302144), to(black));
  background-image: linear-gradient(#592651, #302144, black);
}

.splash h1 {
  position: relative;
  color: #ffffff;
  font-family: "tachyon";
  text-transform: uppercase;
  text-align: center;
  -webkit-transform: translate(0%, 60%);
          transform: translate(0%, 60%);
  z-index: 100;
  font-size: 12vw;
  letter-spacing: 1rem;
  opacity: 0;
}

.splash h3 {
  position: relative;
  color: #ffffff;
  font-family: "tachyon";
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 100;
  text-transform: uppercase;
  font-size: 2vw;
  white-space: nowrap;
  opacity: 0;
}

.splash.active h1 {
  opacity: 1;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.splash.active h3 {
  opacity: 1;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.splash.fade {
  opacity: 0;
  -webkit-transition: ease-in-out 2s;
  transition: ease-in-out 2s;
}

.splash.fade h1 {
  opacity: 0;
  -webkit-transition: ease-in-out 2s;
  transition: ease-in-out 2s;
}

.splash.fade h3 {
  opacity: 0;
  -webkit-transition: ease-in-out 2s;
  transition: ease-in-out 2s;
}

.splash.end {
  display: none;
}

.intro {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#592651), color-stop(#302144), to(black));
  background-image: linear-gradient(#592651, #302144, black);
  background-clip: border-box;
  color: #ffffff;
}

.intro h2 {
  opacity: 0;
  padding-top: 10rem;
  font-family: "tachyon";
  font-size: 5vw;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
  .intro h2 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 500px) {
  .intro h2 {
    font-size: 30px;
  }
}

.intro p {
  opacity: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 2vw;
  padding-right: 2vw;
}

.intro button {
  opacity: 0;
}

.intro.active h2 {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.intro.active p {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.intro.active button {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.intro.fade {
  opacity: 0;
  -webkit-transition: ease-in-out 2s;
  transition: ease-in-out 2s;
}

.intro.end {
  display: none;
}

.orbits {
  position: absolute;
  width: 20%;
  height: 100%;
  padding-left: 3vw;
  color: white;
}

.orbits h2 {
  font-family: "tachyon";
  font-size: 3vw;
}

.orbits.hide {
  display: none;
  -webkit-transition: ease-in-out 5s;
  transition: ease-in-out 5s;
}

button {
  background-color: #ef5966;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  font-family: "korolev";
  font-weight: 700;
  font-size: 15px;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  text-align: center;
  display: block;
  margin: 1em;
}

#startButton {
  background-color: #ef5966;
  font-size: 25px;
  border-radius: 30px;
  color: #ffffff;
  padding-top: 0.17em;
  display: inline;
}

button:hover {
  background-color: #f47c33;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#startButton:hover {
  background-color: #f47c33;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#bF {
  display: none;
}

#bF.show {
  display: block;
}

#pA {
  display: none;
}

#pB {
  display: none;
}

#pC {
  display: none;
}

#pD {
  display: none;
}

#pF {
  display: none;
}

#pA.show {
  display: block;
}

#pB.show {
  display: block;
}

#pC.show {
  display: block;
}

#pD.show {
  display: block;
}

#pF.show {
  display: block;
}

#thanks {
  display: none;
}

#thanks.show {
  display: block;
}

canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  z-index: -1;
}
/*# sourceMappingURL=main.css.map */